@media screen and (min-width: 1360px) {
  main {}

  .main__index {
    padding: 10px;
  }

  main .main__container.index {
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: space-around;
  }

  main .main__container.secundario2 {
    min-height: calc(100vh - 100px)
  }

  main .main__container.index .card {
    height: 390px;
  }

  main .main__container.secundario2 .card {
    height: 410px;
  }

  main .main__container.index .card .card-header,
  main .main__container.secundario2 .card .card-header {
    font-size: 20px;
  }

  main .main__container.index .card .card-body,
  main .main__container.secundario2 .card .card-body {
    padding: 10px;
  }

  main .main__container.index .card .card-body .card-image,
  main .main__container.secundario2 .card .card-body .card-image {
    width: 45%;
  }

  main .main__container.index .card .card-body .card-image img,
  main .main__container.secundario2 .card .card-body .card-image img {
    width: 180px;
    height: 180px;
  }

  main .main__container.secundario2 .card .card-body .card-right,
  main .main__container.index .card .card-body .card-right {
    width: 55%;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-text .list-group,
  main .main__container.index .card .card-body .card-right .card-text .list-group {
    width: 100%;
    max-height: 100%;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-text,
  main .main__container.index .card .card-body .card-right .card-text {
    width: 100%;
    font-size: 1.3em;
  }

  main .main__container.index .card .card-body .card-right .card-buttons,
  main .main__container.secundario2 .card .card-body .card-right .card-buttons {
    height: 70px;
    justify-content: space-around;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a,
  main .main__container.index .card .card-body .card-right .card-buttons a {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a p,
  main .main__container.index .card .card-body .card-right .card-buttons a p {
    margin: 0;
    font-size: 17px;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a ion-icon,
  main .main__container.index .card .card-body .card-right .card-buttons a ion-icon {
    display: none;
  }

  thead {
    font-size: 20px;
  }

  tbody {
    font-size: 18px;
  }

  .divisor {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
  }

  .div_line {
    display: none;
  }

  footer .divisor {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .block {
    width: 100px;
  }

  main .main__container.sobre,
  main .main__container.suporte {
    width: 100%;
    min-height: calc(100vh - 140px);
  }

  .main__suporte footer .divisor,
  .main__sobre footer .divisor {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__suporte footer .divisor .block,
  .main__suporte footer .divisor a,
  .main__sobre footer .divisor .block,
  .main__sobre footer .divisor a {
    display: none;
  }

  .main__sobre .main__container.sobre .cartao .card {
    height: 420px;
  }

  .main__sobre .main__container.sobre .cartao .card .card-header {
    font-size: 24px;
  }

  .main__sobre .main__container.sobre .cartao .card .card-body .text {
    height: 60%;
  }

  .main__sobre .main__container.sobre .cartao .card .card-body .text ul {
    height: 100%;
  }

  .main__sobre .main__container.sobre .cartao .card .card-body .text ul small {
    font-size: 20px;
  }

  .main__sobre .main__container.sobre .cartao .card .card-body .text ul li {
    font-size: 20px;
  }

  .form-group.buttons {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin-top: 10px;
  }

  .form-group.buttons a {
    width: 100px;
  }

  .form-group.buttons a button {
    width: 100%;
    font-size: 20px;
  }

  .form-group.buttons a button,
  .form-group.buttons button {
    padding: 10px;
  }
}

@media screen and (max-width: 1359px) and (min-width: 680px) {
  main {}

  main .main__container.index {
    width: 100%;
    min-height: calc(100vh - 140px);
    justify-content: space-around;
  }

  main .main__container.secundario2 {
    min-height: calc(100vh - 100px)
  }

  main .main__container.index .card {
    height: 300px;
  }

  main .main__container.secundario2 .card {
    height: 320px;
  }

  main .main__container.index .card .card-body,
  main .main__container.secundario2 .card .card-body {
    padding: 10px;
  }

  main .main__container.index .card .card-body .card-image,
  main .main__container.secundario2 .card .card-body .card-image {
    width: 35%;
  }

  main .main__container.index .card .card-body .card-image img,
  main .main__container.secundario2 .card .card-body .card-image img {
    width: 130px;
    height: 130px;
  }

  main .main__container.secundario2 .card .card-body .card-right,
  main .main__container.index .card .card-body .card-right {
    width: 65%;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-text .list-group,
  main .main__container.index .card .card-body .card-right .card-text .list-group {
    width: 100%;
    max-height: 100%;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-text,
  main .main__container.index .card .card-body .card-right .card-text {
    width: 100%;
    font-size: 0.9em;
  }

  main .main__container.index .card .card-body .card-right .card-buttons,
  main .main__container.secundario2 .card .card-body .card-right .card-buttons {
    height: 70px;
    justify-content: space-around;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a,
  main .main__container.index .card .card-body .card-right .card-buttons a {
    width: 45%;
    font-size: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a p,
  main .main__container.index .card .card-body .card-right .card-buttons a p {
    margin: 0;
  }

  main .main__container.secundario2 .card .card-body .card-right .card-buttons a ion-icon,
  main .main__container.index .card .card-body .card-right .card-buttons a ion-icon {
    display: none;
  }

  .divisor {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
  }

  .div_line {
    display: none;
  }

  footer .divisor {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .block {
    width: 100px;
  }

  main .main__container.sobre {
    width: 100%;

  }

  main .main__container.sobre .cartao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
  }

  main .main__container.sobre .cartao .card {
    height: 350px;
    width: 60%;
    padding: 0;
  }

  main .main__container.sobre .cartao .card .card-body {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  main .main__container.sobre .cartao .card .card-body .text {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  main .main__container.sobre .cartao .card .card-body .text ul {
    width: 90%;
    padding-left: 5px;
  }

  main .main__container.sobre .cartao .card .card-body .text ul small {
    font-weight: 700;
    font-size: 15px;
  }

  main .main__container.sobre .cartao .card .card-body .text ul li {
    width: 100%;
    padding: 0;
    font-weight: 300;
  }

  main .main__container.sobre .cartao .card .card-body .links {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
  }

  main .main__container.sobre .cartao .card .card-body .links a {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .main__container.sobre .cartao .card .card-body .links a button {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  main .main__container.sobre .cartao .card .card-body .links a button ion-icon {
    font-size: 30px;
  }

  .form-group.buttons {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding-top: 10px;
  }

  .form-group.buttons a {
    width: 60px;
  }

  .form-group.buttons a button {
    width: 100%;
    font-size: 20px;
  }

  .form-group.buttons a button,
  .form-group.buttons button {
    padding: 7px;

  }
}

@media screen and (max-width: 680px) {
  main {
    width: 100%;
    min-height: calc(100vh - 140px);
    flex-direction: column;
    flex-wrap: nowrap;
  }

  main .main__container {
    width: 100%;
    min-height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  main .main__container.suporte {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
  }

  main .main__container.secundario {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  main .main__container .card {
    width: 100%;
  }

  main .divisor {
    margin: 0;
    padding: 0;
  }

  main .divisor a button {
    display: none;
  }

  main .divisor .div_line {
    display: block;
  }

  main .container__block__suporte {
    width: 90%;

  }

  main .buttons a {
    width: 40%;
    height: 40px;
    padding: 0;
    font-size: .8em;
    font-weight: 600;
  }

  footer {
    width: 100%;
  }

  footer .divisor {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
  }

  footer .block {
    width: 40px;
    height: 30px;
  }

  .list-group {
    width: 100%;
    height: 100%;
    font-weight: 600;
  }

  .card-buttons {
    gap: 0;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
  }

  .card-body {
    padding: 10px;
  }

  .card-right {
    width: 60%;
  }

  .card-image {
    width: 35%;
  }

  .card-image img {
    width: 125px;
    height: 125px;
  }

  thead {
    font-size: 14px;
  }

  tbody {
    font-size: 13px;
  }

  .card-buttons a {
    width: 40%;
  }

  .card-buttons a button {
    width: 100%;
  }

  .card-buttons button {
    width: 40%;
    font-size: 10px;
  }

  main .main__container .cartao .card {
    height: 350px;
    width: 90%;
    padding: 0;
  }

  main .main__container .cartao .card .card-body {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  main .main__container .cartao .card .card-body .text {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  main .main__container .cartao .card .card-body .text ul {
    width: 90%;
    padding-left: 5px;
  }

  main .main__container .cartao .card .card-body .text ul small {
    font-weight: 700;
    font-size: 15px;
  }

  main .main__container .cartao .card .card-body .text ul li {
    width: 100%;
    padding: 0;
    font-weight: 300;
  }

  main .main__container .cartao .card .card-body .links {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
  }

  main .main__container .cartao .card .card-body .links a {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .main__container .cartao .card .card-body .links a button {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  main .main__container .cartao .card .card-body .links a button ion-icon {
    font-size: 30px;
  }

  .card-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .card-buttons a .texto-button {
    display: none;

  }

  /* cadastro */
  .container__block__cadastro {
    width: 90%;
    margin: 50px 0;
  }

  .container__block__cadastro form {
    flex-direction: column;
    width: 100%;
  }

  .container__block__cadastro form .icone {
    margin-top: 20px;
  }

  .container__block__cadastro form .form-group {
    width: 90%;
  }

  .container__block__cadastro form .form-group .form-floating small {
    font-size: 10px;
    padding-left: 5px;
  }

  .container__block__cadastro form .form-group.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
  }

  .container__block__cadastro form .form-group.buttons a {
    width: 30%;
  }

  .container__block__cadastro form .form-group.buttons a button {
    width: 100%;
    height: fit-content;
    font-size: 20px;
  }

  .container__block__cadastro form .form-group.buttons button {
    width: 30%;
  }

  /* login */
  .container__block__login {
    width: 90%;
  }
}